<article class="accordion videos" id="accordion">

<% @categories.each_with_index do |category, i| %>
  <div class="accordion-group category-<%=category.slug%>">
    <h3 class="accordion-heading">
      <a class="accordion-toggle <%= 'collapsed' if i > 0 %>" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=i%>">
        <%= category.title %>
      </a>
    </h3>
    <div id="collapse<%=i%>" class="accordion-body collapse in">
      <nav class="accordion-inner">
        <% category.videos.each do |video| %>
          <a href="<%=video.url%>" rel="shadowbox[reel];width=640;height=360"><%= video.title %></a>
        <% end %>
      </nav>
    </div>
  </div>
<% end %>

</article>
