<article class="accordion videos" id="accordion">

<% @categories.each_with_index do |category, i| %>
  <div class="accordion-group category-<%=category.slug%>">
    <h3 class="accordion-heading">
      <a class="accordion-toggle <%= 'collapsed' if i > 0 %>" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=i%>">
        <%= category.title.html_safe %>
        <span class="sub-heading">
          <%= category.sub_title.try(:html_safe) %>
        </span>
      </a>
    </h3>
    <div id="collapse<%=i%>" class="accordion-body collapse <%= 'in' if i == 0 %>">
      <nav class="accordion-inner">
        <% category.videos.order("position is null, position asc, created_at desc").each do |video| %>
          <a href="<%=video_path(video.slug)%>.html" rel="shadowbox[reel];width=640;height=360" title="<%=video.title%>">
            <%= image_tag(video.thumbnail_url) %>
            <div class="info">
              <h6><%= video.title %></h6>
              <p><%= video.description.html_safe %></p>
            </div>
          </a>
        <% end %>
      </nav>
    </div>
  </div>
<% end %>

</article>
