<!DOCTYPE html>
<html lang="en">
<head>

  <title>Alex Calleros</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta property="og:site_name" content="Alex Calleros" />
  <meta name="keywords" content="Alex Calleros, Finite Films, film, director, writer" />
  <meta name="author" content="Alex Calleros" />

  <meta content="Alex Calleros" property="og:title" />
  <meta content="website" property="og:type" />
  <meta content="http://alexcalleros.com" property="og:url" />
  <meta content="Alex Calleros - Writer/Director at Finite Films" name="description" />
  <meta content="Alex Calleros - Writer/Director at Finite Films" property="og:description" />
  <meta property="og:image" content="https://s3.amazonaws.com/alexcalleros/alex.jpg" />

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application' %>
  <%= favicon_link_tag %>

  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="/js/shadowbox/shadowbox-base.js"></script>
  <script type="text/javascript" src="/js/shadowbox/shadowbox.js"></script>
  <script type="text/javascript" src="/js/shadowboxmod.js"></script>

</head>


<body>

<article>
  <header>
    <h1><span class="alex">Alex</span><span class="calleros">Calleros</span></h1>
    <h6>Writer/Director @ <a href="http://finite-films.com">Finite Films</a></h6>

    <nav class='main-menu'>
      <a href="/about.html" rel="shadowbox[about];width=840;height=740" class='one'><span>About Me</span></a>

      <a href="<%= @resume_url %>" class='two'><span>Resume</span></a>

      <a href="mailto:<%= @contact_email %>" class='three'><span>Contact</span></a>
    </nav><!-- end menu -->
  </header>


  <%= yield %>


  <footer>
    <nav class='main-menu'>
      <a href="<%=video_path('reel')%>.html" rel="shadowbox[reel];width=640;height=360" class='four'><span>Reel</span></a>

      <a href="http://www.youtube.com/user/AlexCallerosDotCom" target="_blank" class='five'><span>YouTube</span></a>

      <a href="http://www.vimeo.com/user2162030" target="_blank" class='six'><span>Vimeo</span></a>
    </nav>

    <small>&copy; 2007-<%=Time.now.year%> Alex Calleros. All Rights Reserved. Site Designed by <a href="http://alishowkati.com/">Ali Showkati</a>.</small>
  </footer>
</article>

</body>
</html>
